<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="principal">Principal </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="perfil">Perfil</a>
          </li>
      </ul>
  </div>
</nav>

<div class="titulo">
  <div class="centrar">
      <h1 class="display-3" style="color:#6b8ac4;">Mini Practica</h1>
  </div>
</div>

<router-outlet></router-outlet>